header, .section1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
header a{
    font-size:1.2rem;
}
.section1 div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
}
.div1, .div2, .div3, .div4, .div5{
    height: 300px;
    width: 170px;
    background-color: pink;
    font-size: 1.5rem;
}
.div1 img, .div2 img, .div3 img, .div4 img, .div5 img{
    height: 100px;
    width: 100px;
}
.section2{
    border: 1px solid black;
    border-radius: 10px;
    margin: 40px;
    padding: 20px;
}